.header__logo{
  width: 176px;
  height: 52px;
  background-image: url(../../../images/logo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

@media all and (max-width: 320px){
  .header__logo{
    width: 142px;
    height: 42px;
  }
}