.content{
  font-family: 'Inter' , "Arial", sans-serif;
  display: grid;
  row-gap: 92px;
  color: inherit;
}

@media (max-width: 768px){
  .content{
    row-gap: 88px;
  }
}

@media (max-width: 320px){
  .content{
    row-gap: 64px;
  }
}