.lead__title{
  max-width: 73.1707317%;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  margin: 56px auto 32px;
}

@media (max-width: 1024px){
  .lead__title{
    max-width: 77.586%;
    font-size: 9.375vw;
    margin: 48px auto 32px;
  }
}

@media (max-width: 768px){
  .lead__title{
    max-width: 93.75%;
    font-size: 12.5vw;
    line-height: 1.1;
    margin: 48px auto 32px;
  }
}

@media (max-width: 320px){
  .lead__title{
    max-width: 90%;
    line-height: 1.1;
    margin: 48px auto 16px;
  }
}