.footer__copyright{
  margin: 0;
  text-align: right;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
}

@media (max-width: 700px){
  .footer__copyright{
    padding-top: 64px;
    text-align: left;
    line-height: 1;
  }
}