.place__website_url-heading{
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

@media (max-width: 768px){
  .place__website_url-heading{
    font-size: 1.5625vw;
  }
}

@media (max-width: 320px){
  .place__website_url-heading{
    font-size: 3.75vw;
  }
}