.cover{
  display: block;
  position: relative;
  background-image: url(../../images/cover__background.jpg);
  background-size: 100% 100%;
  margin: 0 auto 92px;
  z-index: 1;
}

.cover::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
}