.place{
  display: grid;
  grid-template-columns: minmax(min-content, 47%)  minmax(min-content, 484px);
  margin: 0 148px;
  color: inherit;
  column-gap: 40px;
  row-gap: 48px;
}

@media (max-width: 1024px){
  .place{
    grid-template-columns: minmax(min-content, 47%) minmax(min-content, 456px);
    margin: 0 48px;
  }
}

@media (max-width: 768px){
  .place{
    grid-template-columns: minmax(min-content, 47%) minmax(min-content, 352px);
    column-gap: 5.208333vw;
    row-gap: 6.25vw;
    margin: 0 24px;
  }
}

@media (max-width: 600px){
  .place{
    grid-template-columns: minmax(min-content, 600px);
    margin: 0;
    row-gap: 32px;
  }
}